

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $footer-border-color;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $footer-link-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}

/* redesigned-memory added footer styles */

.footer-nav {
  a.nav-item {
    display: block;
  }
}

/* Footer social icons */
.social-media-list {
  margin: 0;

  li {
    float: left;
    min-width: 1.5rem;
    min-height: 1.5rem; 
    text-align: center;
    margin: 5px 5px 5px 0;

    a {
    display: block;
    padding: 0;
    border: none;

    svg {
      width: 1.4rem;
      height:1.4rem;
      fill: $link;

      &:hover {
        fill: $link-hover-color;
      }
    }
  }
}

}

