/**
 *  #### HERO BLOCKS ####
 */

// hero header 
.hero-header {
  width: 100%;
  line-height: $base-line-height * $base-font-size * 1.05;
  background-color: $hero-background-color;
  padding: 2em 0;
  margin: 0;
  text-align: center;
}

// redesigned-memory hero block, use w container inside
.hero-rm {
  width: 100%;
  padding: 3rem 0;
  margin: 0;

  @include breakpoint($md) {
    img {
      max-width: 465px;
    }    
  }

  @include breakpoint($xl) {
    img {
      max-width: 365.63px;
    }
  }
}

.spacious {
  padding: 5rem 0;
}

.hero-title-rm {
  font-size: $base-font-size * 3.05 !important;
  line-height: $base-line-height * $base-font-size * 2.05;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto 3.5rem;
  color: $hero-heading-1;
}

// Hero-card, based on Sleek post-card

.hero-card-grid {
  // padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;

  @include breakpoint($md) {
    // padding-top: 5em;
  }
}

.hero-card-2 {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 2.25rem;

  @include breakpoint($md) {
    width: 48.4375%;
    margin-right: 3.125%;

    &:last-of-type,
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include breakpoint($xl) {
    width: 65.625%;
    margin-right: 3.125%;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }  
}

.hero-card {
  display: block;
  position: relative;
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  overflow: hidden;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);*/
  margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }

  &.static {
    border:none;
    box-shadow: none;
  }

  @include breakpoint($md) {
    width: 48.4375%;
    margin-right: 3.125%;

    &:last-of-type,
    &:nth-child(2n+2) {
      margin-right: 0;
    }


  }

  @include breakpoint($xl) {
    width: 31.25%;
    margin-right: 3.125%;

    &:nth-child(2n+2) {
      margin-right: 3.125%;
    }

    &:last-of-type,
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__label {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
  }

  &__inner {
    display: block;
    position: relative;
    padding: 1.875rem 1.25rem 0.625rem;
    /*width: 100%;*/
    color: $card-text-color;
    border-bottom: 0;

    &:focus,
    &:hover,
    &:visited {
      color: $card-text-color;
      border-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 0.75rem;
  }

  &__meta {
    font-size: 0.875rem;
  }
}









