/**
 *  #### HERO BLOCKS ####
 */
.hero-header {
  width: 100%;
  line-height: $base-line-height * $base-font-size * 1.05;
  background-color: $hero-background-color;
  padding: 2em 0;
  margin: 0;
  text-align: center;
}







