/**
 * front page
 */

.home, .hero-rm {
  .post-link {
    font-size: initial;
    text-transform: uppercase;
  } 
}

main.home {
  .hero-rm.first {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}