.post-meta.subtitle {
  font-weight: 500;
}


.post-meta.categories {
  font-weight: 400;
  
}


/**
 * Sleek category labels by 
 */

.label {
  padding: 0px 10px;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 20px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  border-radius: 100px;
  transition: all 0.2s ease;

  &:focus,
  &:hover {
    text-decoration: none;
  }
} 

header {
  .label {
    color: rgba(83,0,83,0.8);
    border: 2px solid rgba(83,0,83,0.5);

    &,
    &:visited {
      color: $label-text-color;
    }

    &:focus,
    &:hover {
      color: $label-text-hover !important;
      background-color: $label-background-hover;
      border: 2px solid $label-border-hover;
    }
  }
  
}

.sleek-blog {
  .label {
    color: rgba(255,255,255,0.8);
    border: 2px solid rgba(255,255,255,0.5);

    &:focus,
    &:hover {
      color: $grid-label-text-color;
      background-color: rgba(255,255,255,0.8);
    }
  }
}