// BACKGROUNDS, COLORS 

.platinum {background-color: $platinum;}
.coffee-bean {background-color: $coffee-bean;}

.sharp-magenta {background-color: $sharp-magenta;}
.tyrian-purple {background-color: $tyrian-purple;}
.dark-magenta {
  background-color: $dark-magenta;
}
.deep-purple {
  background-color: $deep-purple;
}
.midnight-violet {
  background-color: $midnight-violet;
}


.thistle {background-color: $thistle;}
.lavender-mist {background-color: $lavender-mist;}
.lavender-mist-2 {background-color: $lavender-mist-2;}
.lavender-mist-3 {background-color: $lavender-mist-3;}
.ghost-white {background-color: $ghost-white;}




.soft-periwinkle {
  background-color: $soft-periwinkle;
}
.periwinkle {
  background-color: $periwinkle;
}
.lavender {
  background-color: $lavender;
}





