// Define defaults for each variable.
// Site-specific colour variables

/* colours */
$platinum: #eef0f2ff; // warm white
$ghost-white: #E9EAF3; // warmer white
$lavender-mist: #E7E8F3; // almost the same
$lavender-mist-2: #EFF0FC; // colder white
$lavender-mist-3: #EEEFFC; // almost similar

$coffee-bean: #251101ff; // dark saturated brown
$midnight-violet: #361f27ff; // a bit lighter brown
$night-bordeaux: #49111C; // a bit more red

$sharp-magenta: #8b008b; // bright magenta
$tyrian-purple: #66023C; // saturated darker purple
$dark-magenta: #530053; // deep dark
$deep-purple: #521945ff; // same but redder

$thistle: #d8bfd8; // noticeable pink

$soft-periwinkle: #918EF4; // bright saturated lavender
$periwinkle: #B9B8EC !default; // hele erk lavendel
$lavender: #CDCDE4; // light
$lavender2: #e3ebffff; // very light

$teal-1: #468189; // erk sinakasroheline
$muted-teal: #9EBC9E; // slightly colder light green
$muted-teal-2: #7d938a; // tuhm roheline
$muted-teal-3: #a4c2a8ff; // colder than sage green

$stormy-teal: #2D6C75; // darker teal
$deep-space-blue: #153243; // tumesinine
$tropical-teal: #17BEBB; // bright turquoise

$ebony: #575c55ff; // tume hallikasroheline
$fern: #65743aff; // erk tume oliiv
$dusty-olive: #6c7d47ff; // darker saturated olive

$dry-sage: #a4b494ff; // light calm green
$ash-grey: #bec5adff; // heledam roheline

$alice-blue: #e7f0ffff; // cold white
$celadon: #b9d8c2ff; // hele kapsaroheline
$celadon2: #a5ccb2ff; // satureeritum kapsas
$light-blue: #9ac2c9ff; // hele meresinine
$alabaster-grey: #d4ddd7ff; // rohekasvalge

$electric-sapphire: #5465ffff; // bright cerulean sapphire
$electric-sapphire-rgba: rgba(84, 101, 255, 0.8);


$ocean-twilight: #3744baff; // saturated cerulean hue
$egyptian-blue: #2e3893ff; // a bit darker
$egyptian-blue-rgba: rgba(46, 56, 147, 1); 

$white-rgba: rgba(255,255,255,0.8);

$old-gold: #bab700; // bright golden green

$blue-slate: #666a86ff;
$blue-slate2: #476a6f;
$evergreen: #002500ff;
$palm-leaf: #929982ff;
$amethyst-smoke: #b47eb3ff;
$petal-frost: #ffd5ffff;
$mauve-shadow: #533b4dff;


/**
 * COLOUR DEFAULTS
 */

// Backgrounds
$background-color: $lavender-mist;
$body-background-color: $lavender-mist;
$header-background-color: $coffee-bean;
$nav-background-color: $coffee-bean;

$view-background-color: $dry-sage;
$view-navigation-bg: $periwinkle;

$film-navigation-bg: $periwinkle;

// Borders
$border-color: $dark-magenta;
$border-light: $thistle;

// footer 
$footer-text-color: $thistle;
$footer-link-color: $thistle;
$footer-link-hover-color: $lavender-mist;
$footer-border-color: $border-color;
$footer-background-color: $coffee-bean;

// Navbar
$site-title-color: $platinum;
$nav-link-color: $platinum;




// Text and headings
$text-color: $midnight-violet;
$heading-color: $coffee-bean;

// Blockquotes
$blockquote-text-color: $deep-purple;
$blockquote-border-color: $deep-purple;

// Hero blocks
$hero-title-color: $lavender-mist;
$hero-heading-1: $sharp-magenta;
$hero-heading-2: $soft-periwinkle;


// Category labels
$label-text-color: $dark-magenta;
$label-background-color: none;
$label-border-color: $dark-magenta;
$label-text-hover: $platinum;
$label-background-hover: $dark-magenta;
$label-border-hover: $dark-magenta;
$grid-label-text-color: $coffee-bean;


// Cards in grid

$card-thumb-background: $thistle;
$card-background-color: $lavender-mist-2;
$card-text-color: $midnight-violet;


// Links
$link: $sharp-magenta;
$link-color: $sharp-magenta;
$link-base-color: $link-color;
$link-visited-color: $tyrian-purple;
$link-hover-color: $link-visited-color;




// Sleek variables
// adapted from Jekyll Sleek theme by Jan Czizikow

/*$primary: #002c27 !default;
$secondary: #ff6161 !default;*/

/*$primary-light: #68a4f1;*/
$reverse: #3c3d41 !default;
/*$success: #8fd896 !default;
$error: #ff6161 !default;*/


/*$bg-color: $background-color;
$button-dark: #00594F;
$dark-light: #594f00;
$outline: #dbdbdb;
$grey: $platinum;*/


/*$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/


// Code
$code-bg-color: $lavender-mist !default;

$code-text-color: #25292e !default;


// Classic skin 
// Assign outside of the if construct to establish global variable scope

$brand-color: $lavender-mist;
$brand-color-light: $brand-color;
$brand-color-dimmed: $brand-color;
$brand-color-dark: $brand-color;


$border-color-01: $border-color;
$border-color-02: $border-light;
$border-color-03: $border-color;

$table-text-color: $text-color;
$table-zebra-color: $lavender-mist-3;
$table-header-bg-color: $thistle;
$table-header-border: $border-color;
$table-border-color: $border-color;


