---
---

@import
  "variables/base-variables",
  "variables/color-variables",
  "partials/sleek-mixins"
;



@import
  "base",             // Defines element resets.
  "typography",
  "backgrounds",
  "layout";           // Defines structure and style based on CSS selectors.

@import
  "partials/home",
  "partials/header",    // Defines element resets.
  "partials/footer",    // Defines structure and style based on CSS selectors.
  "partials/hero-blocks",    // hero blocks
  "partials/labels",
  "partials/content",
  "partials/embeds"
;


@import
  "partials/card";













