---
---

@import
  "partials/base-variables",
  "partials/color-variables"
;



@import
  "base",             // Defines element resets.
  "layout";           // Defines structure and style based on CSS selectors.

@import
  "partials/home",
  "partials/header",    // Defines element resets.
  "partials/footer",    // Defines structure and style based on CSS selectors.
  "partials/heroes",    // hero blocks
  "partials/content-meta",
  "partials/content",
  "partials/embeds"
;


@import
  "partials/sleek-mixins",
  "partials/card";

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom-styles"     // Hook to override existing styles.
;













