---
layout: base
---
<main class="home">

<div class="hero-rm first lavender">
  <div class="container">
    <div class="hero-card-grid">
      <div class="hero-card-2"><p>Many discourses today portray technologies such as artificial intelligence systems (AIS) as something abstract and immaterial. Techno-utopian imaginaries obscure the global material implications of AIS, benefitting from the anthropomorphic framing and hiding the true cost of AIS. By choosing to value AIS as anthropomorphic entities, we are simultaneously choosing to devalue the people, cultures and environments implicated in AIS as envirotechnical systems.</p>
      <h4>What is technosemiotics?</h4>
      <p>Science and Technology Studies and environmental humanities draw attention to societal, environmental, and material aspects of technologies. Technosemiotics complements STS and EH perspectives with conceptual frameworks from cultural, social, and ecosemiotics. A major theoretical challenge is re-grounding AIS in materiality and semiotics. Ecosemiotics offers a realist view, recognising the interplay of nature and society on both communicative and material level (see Tønnessen 2020: 91).</p>
    </div>
      <div class="hero-card static"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/illustrations/ichavez_ai_society_2_min.png" /><em>Illustration by Israel Chávez</em></div>
    </div>
  </div>
</div> 



<!-- posts and bookmarks list -->
<main class="page-content" aria-label="Content">  
  <div class="wrapper">
    <div class="home">
      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h1>{{ page.list_title }}</h1>
        {%- endif -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h4>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h4>
            {%- if site.minima.show_excerpts -%}
              {{ post.excerpt | strip_html | truncatewords: 40 }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
  </div>
</main>


<!-- CONCEPTS GRID -->
  <div class="hero-rm periwinkle">
    <div class="hero-wrapper">

{% assign posts = site.concepts %}

        <h2 class="hero-title-rm">concepts</h2>


  {% include hero-card-grid.html %}
<!-- /// END CONCEPTS GRID -->
    </div>
  </div> 


</main>