---
layout: base
---
<main class="home">

<div class="hero-rm first lavender">
  <div class="container">
    <div class="hero-card-grid">

      <div class="hero-card-2">
        {{ content }}
      </div>
      <div class="hero-card static">
        <p>
          <img src="{{ site.url }}{{ site.baseurl }}/assets/{{ site.image.src }}" />
        </p>
        <p><em>{{ site.image.src }}</em></p>
      </div>      
    </div>
  </div>
</div> 



<!-- posts and bookmarks list -->
<main class="page-content" aria-label="Content">  
  <div class="wrapper">
    <div class="home">
      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h1>{{ page.list_title }}</h1>
        {%- endif -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h4>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h4>
            {%- if site.minima.show_excerpts -%}
              {{ post.excerpt | strip_html | truncatewords: 40 }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
  </div>
</main>
<!-- /// END posts and bookmarks list -->


<!-- CONCEPTS GRID -->
  <div class="hero-rm periwinkle">
    <div class="container">

{% assign posts = site.concepts %}

        <h2 class="hero-title-rm">concepts</h2>


  {% include hero-card-grid.html %}

    </div>
  </div> 
<!-- /// END CONCEPTS GRID -->


</main>