---
layout: base
---
<main class="home">

<div class="hero-rm spacious lavender">
  <div class="container">
    <div class="hero-card-grid">
      <div class="hero-card-2"><p>The motivation behind this website and network is to critically engage with the discourse on technology, with a specific interest in artificial intelligence (AI), automation, and envirotechnical systems. Today, the concept of AI is used to designate so many different processes, systems, devices, dreams and ideas that it almost loses any real meaning. The discourse on AI is particularly saturated with reified metaphors that influence connotations and delimit the understanding and the adoption of technologies in society. Therefore, even academic papers often consider it necessary or inevitable to dwell on the comparison between human and machine intelligence.</p>
      <h4>Is this comparison justified?</h4>
      <p>Earlier, AI has been seen as applied semiotics because it ventures to manipulate symbols or signs (Meunier 1989). At the same time, all computer systems—including AI—are essentially semiotic technologies, allowing for human cognition and agency to be extended, delegated and offloaded in various manners and at different scales (Irvine 2022).</p>
    </div>
      <div class="hero-card static"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/illustrations/ichavez_ai_society_2_min.png" /><em>Illustration by Israel Chávez</em></div>
    </div>
  </div>
</div> 



<!-- posts and bookmarks list -->
<main class="page-content" aria-label="Content">  
  <div class="wrapper">
    <div class="home">
      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h2 class="post-list-heading center">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h4>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h4>
            {%- if site.minima.show_excerpts -%}
              {{ post.excerpt | strip_html | truncatewords: 40 }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
  </div>
</main>


<!-- CONCEPTS GRID -->
  <div class="hero-rm periwinkle">
    <div class="hero-wrapper">

{% assign posts = site.concepts %}

        <h2 class="hero-title-rm">concepts</h2>


  {% include hero-card-grid.html %}
<!-- /// END CONCEPTS GRID -->
    </div>
  </div> 


</main>