<main class="home">
  <section class="content-grid">
    <div class="fullwidth">
      <div class="resource-grid">
        {% for item in site.videos %}
          <div class="resource-item grid-{{ include.grid }}">
            
            <div class="image">
              <a href="{{ item.url }}"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/videos/{{ item.image }}" /></a>
              <h5>{{ item.title }} ({{ item.year }})</h5>
              <p>{{ item.summary}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>